h1, p{
    color: cornflowerblue;
}

div{
    padding: 1vw;
}

#abajo-derecha{
    position: fixed;
    bottom: 10px;   /* distancia desde abajo */
    right: 10px;     /* distancia desde la izquierda */
    background-color: lightcyan;
    padding: 1vw;
    border-radius: 1vw;
}

table{
    margin: 2vh 0;
    border-collapse: collapse;
}

td{
    border: 1px solid darkcyan ;
    padding: 1vw;
}

button{
    background-color: lightskyblue;
    padding: 1vh;
    font-weight: bold;
    border-radius: 1vh;
}

#log p{
    color: brown;
}

#principal{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%; 
    height: 100%;
    justify-content: center;
}

#banner{
    width: 80%;
    height: 600px;
    margin: 0;
    padding: 0;
}