h1, p{
    color: cornflowerblue;
}

div{
    padding: 1vw;
}

button{
    background-color: lightskyblue;
    padding: 1vh;
    font-weight: bold;
    border-radius: 1vh;
}

input{
    padding: 1vh;
    background-color: lightcyan;
    border-radius: 1vh;
}

#resultado p{
    color: black;
}

#resultado div{
    padding: 0;
    margin: 0;
}

#error{
    color: red;
}

.datos{
    color: black;
    font-weight: bold;
}