body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center;  
    gap: 10px;                
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}