h1, p{
    color: cornflowerblue;
}

div{
    padding: 1vw;
}

input{
    padding: 1vh;
    background-color: lightcyan;
    border-radius: 1vh;
}

button{
    background-color: lightskyblue;
    padding: 1vh;
    font-weight: bold;
    border-radius: 1vh;
}

#img1, #img2{
    width: 300px;
    border: 2px solid gold;
    border-radius: 1vw;
}

table{
    margin: 2vh 0;
    border-collapse: collapse;
}

td{
    border: 1px solid darkcyan ;
    padding: 1vw;
}