h1, p{
    color: cornflowerblue;
}

table, td, th{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1vh;
}

div{
    padding: 1vw;
}

button{
    background-color: lightskyblue;
    padding: 1vh;
    font-weight: bold;
    border-radius: 1vh;
}